<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    version="3.1">
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pqr</servlet-name>
        <servlet-class>SquareServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pqr</servlet-name>
        <url-pattern>/sq</url-pattern>
    </servlet-mapping>
</web-app>